/* Ensuring consistency in the portfolio across all pages */
body {
  background-color: #100e17;
  overflow: scroll;
  height: 100%;
  margin-bottom: 50px;
}

/* style on content (col-md-8) columns */
.main-block {
  color: #b1b1b1;
  min-height: 100%;
  font-family: Arial, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 50px;
}
.contact {
  color: white;
}

.fab {
  font-size: 30px;
}

.nav-link {
  font-size: 20px;
}

/* style on about-block */
.about-block {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 100px;
}

.social a {
  color: white;
  margin: 0 10px;
}

#name {
  font-size: 2rem;
  font-weight: 600;
}
/* aligning the portfolio images so that they are centered in responsive design */
.screenshot-grid {
  float: left;
  text-align: center;
}

.screenshot-grid img {
  display: block;
}

/* Formatting both the profile image and portfolio images to provide a neat grid*/
.profile-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 30px;
}

.portfolio-image {
  height: 250px;
  width: 400px;
}

.icon {
  font-size: 18px;
}

.row-space {
  margin-bottom: 60px;
}
/* formatting the form to align on Contacts page */
.align {
  padding: 10px;
  margin: 20px;
}

p {
  margin: 20px;
}

.heading {
  margin: 20px;
  color: white;
  background-image: linear-gradient(to top left, #e9df00, #0b13ff);
  border-radius: 10px;
  padding: 5px 15px;
}

.project-info {
  list-style: none;
  padding-left: -40px;
  margin-top: 20px;
}

hr.thick {
  border: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 5px;
  background-image: linear-gradient(90deg, #0b13ff, #e9df00);
  border-radius: 5px;
}

.copyright {
  background-color: #100e17;
  font-weight: lighter;
  padding-bottom: 30px;
}

.last-updated {
  font-size: 14px;
}
