/* Ensuring consistency in the portfolio across all pages */
body {
    background-image: url(./assets/images/blue-snow.png);
    background-color: #E7E8F0;
    overflow: scroll;
    height: 100%;
    Margin-bottom: 50px;
}

/* White background on content (col-md-8) columns */
.main-block {
    background-color: white;
    min-height: 100%;
}

.social a{
    color: white;
    margin: 0 10px;
}

/* aligning the portfolio images so that they are centered in responsive design */
.grid {
    padding: 10px;
    margin: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Formatting both the profile image and portfolio images to provide a neat grid*/
.profile-image {
    height: 250px;
    width: 250px;
    margin: 10px 20px;
    float: left;
}

.portfolio-image {
    height: 250px;
    width: 250px;
}

/* formatting the form to align on Contacts page */
.align {
    padding: 10px;
    margin: 20px;
}

p {
    margin: 20px; 
}

h1 {
    margin: 20px;
    color: orange;
}

.footer{
    color: white;
}